# Environment
NODE_ENV=development

# Server
PORT=3003

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/order_service

# CORS
CORS_ORIGIN=*

# Logging
LOG_LEVEL=info

# Payment Service
PAYMENT_SERVICE_URL=http://localhost:3004
